<footer class="navbar fixed-bottom border border-light bg-light text-dark">
    <i>Template by Io. Check out on
        <a href="https://github.com/Io-Maciek/sql-rocket-start-template" target="_blank">GitHub</a>.</i>
</footer>
