{{! Check out https://getbootstrap.com/docs/4.0/components/navbar}}
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Navbar
    </a>
</nav>
